# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django
db.sqlite3
/staticfiles/
/media/

# Environnements
.env
venv/

# Logs
*.log

# VSCode
.vscode/

# Node modules
node_modules/

# Cache Sass
.sass-cache/
*.css.map
*.scssc
